.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.image-container {
  width: 100%; /* عرض کامل */
  height: 100vh; /* ارتفاع کامل صفحه */
  overflow: auto; /* فعال کردن اسکرول */
  position: relative; /* برای قرارگیری تصویر در مرکز */
}

.image-container img {
  width: 100%;
  height: auto; /* نسبت تصویر حفظ می‌شود */
  object-fit: contain; /* فیت کردن تصویر به شکلی که تناسب ابعاد حفظ شود */
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
